.contact_page .header_pannel .home_header {
  background-color: #fff;
}
.contact_page .contact_content {
  min-height: calc(100vh - 191px);
  margin-top: 80px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #EBEEF3;
}
.contact_page .contact_content .row {
  display: inline-block;
  text-align: left;
  width: 1000px;
  border-top: 1px solid #EBEEF3;
  padding: 80px 0;
}
.contact_page .contact_content .row:first-child {
  border: none;
}
.contact_page .contact_content .cell {
  width: 500px;
  float: left;
}
.contact_page .contact_content .cell > h3 {
  font-size: 19px;
  color: #34495E;
  margin-bottom: 26px;
}
.contact_page .contact_content .cell > span {
  display: inline-block;
  font-size: 14px;
  color: #6C7C8B;
  margin-right: 5px;
}
.contact_page .contact_content .cell > a {
  display: inline-block;
  color: #4DA1FF;
  font-size: 14px;
}
