.home_page .banners_container {
  height: 55vw;
  min-height: 680px;
}

.home_page .intro {
  padding: 100px 0;
  text-align: center;
}

.home_page .intro > .card {
  display: inline-block;
  overflow: hidden;
  width: 1000px;
}

.home_page .intro > .card > h3 {
  font-size: 22px;
  color: #28313B;
  margin-bottom: 30px;
}

.home_page .intro > .card > p {
  font-size: 14px;
  color: #97A4B1;
  line-height: 30px;
  margin-bottom: 60px;
}

.home_page .intro > .card .intro_card {
  float: left;
  width: 245px;
  margin-right: 130px;
}

.home_page .intro > .card .intro_card > span {
  display: inline-block;
  color: #2ECC71;
  font-size: 60px;
  margin-bottom: 30px;
}

.home_page .intro > .card .intro_card > h4 {
  font-size: 16px;
  color: #28313B;
  margin-bottom: 30px;
}

.home_page .intro > .card .intro_card > p {
  font-size: 14px;
  line-height: 30px;
  color: #97A4B1;
}

.home_page .intro > .card .intro_card:last-child {
  margin-right: 0;
}

.home_page > .lessons {
  text-align: center;
  padding-top: 80px;
}

.home_page > .lessons .lessons_list {
  height: 442px;
  max-width: 1140px !important;
}

.home_page > .lessons > h3 {
  font-size: 22px;
  color: #28313B;
  margin-bottom: 60px;
}

.home_page > .lessons .more_lessons {
  margin-top: 40px;
  margin-bottom: 100px;
  color: #2ECC71;
  border-color: #3AD59C;
}

.lessons_list {
  position: relative;
  width: 1030px;
  margin: 0 auto;
  overflow: hidden
}

.lessons_list>ul {
  overflow: hidden;
  margin-bottom: 40px
}

.lessons_list .lessons_item {
  float: left;
  padding: 15px
}

.lessons_list .lessons_item>.card {
  position: relative;
  z-index: 1;
  width: 310px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #e9eff4;
  transition: all .4s ease-out
}

.lessons_list .lessons_item>.card:hover {
  border: 1px solid #dee1e2
}

.lessons_list .lessons_item>.card:hover .lesson_cover>img {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: all 8s ease-out;
  position: relative;
  z-index: 0
}

.lessons_list .lessons_item>.card>.lesson_cover {
  height: 200px;
  background-color: #e0e6e6;
  overflow: hidden
}

.lessons_list .lessons_item>.card>.lesson_cover>img {
  width: 100%;
  transition: all .4s ease-out
}

.lessons_list .lessons_item>.card>.lesson_desc {
  padding: 0 20px;
  text-align: left
}

.lessons_list .lessons_item>.card>.lesson_desc>h3 {
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  color: #333;
  margin: 22px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.lessons_list .lessons_item>.card>.lesson_desc>span {
  display: block;
  line-height: 12px;
  font-size: 12px;
  height: 12px;
  color: #999;
  margin-bottom: 25px
}

.lessons_list .lessons_item>.card>.lesson_desc .teacher_info {
  position: relative;
  padding-left: 58px;
  margin-bottom: 25px
}

.lessons_list .lessons_item>.card>.lesson_desc .teacher_info>img {
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 23px
}

.lessons_list .lessons_item>.card>.lesson_desc .teacher_info>span {
  display: block;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  color: #999
}

.lessons_list .lessons_item>.card>.lesson_desc .teacher_info .teacher_name {
  color: #333
}

.lessons_list .lessons_item>.card>.lesson_desc .lesson_is_living {
  color: #fd9b66
}

.lessons_list .tip {
  padding: 15vh 0
}

.home_page .app_end {
  text-align: center;
  padding: 100px 0;
}

.home_page .app_end > .card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 1000px;
  height: 500px;
}

.home_page .app_end > .card .app_end_anchor {
  position: relative;
  top: -90px;
  display: block;
  height: 1px;
}

.home_page .app_end .app_intro {
  float: left;
  text-align: left;
  width: 380px;
  margin-top: 70px;
}

.home_page .app_end .app_intro > h3 {
  font-size: 22px;
  color: #28313B;
  margin-bottom: 30px;
}

.home_page .app_end .app_intro > p {
  font-size: 16px;
  color: #97A4B1;
  line-height: 30px;
  margin-bottom: 60px;
}

.home_page .app_end .app_intro .download_ios {
  color: #319BF5;
  border-color: #82BDFF;
  margin-right: 15px;
}

.home_page .app_end .app_intro .download_android {
  color: #2ECC71;
  border-color: #3AD59C;
}

.home_page .app_end .phone1,
.home_page .app_end .phone2,
.home_page .app_end .phone3 {
  position: absolute;
  top: 0;
  right: 150px;
  display: block;
  float: right;
  transition: all 0.5s ease-in-out;
}

.home_page .app_end .phone1 {
  z-index: 3;
  height: 500px;
}

.home_page .app_end .phone2 {
  z-index: 2;
  top: 80px;
  // right: 155px;
  right: 310px;
  height: 380px;
}

.home_page .app_end .phone3 {
  z-index: 1;
  top: 50px;
  // right: 155px;
  right: 0;
  height: 400px;
}

.home_page .teacherIntro_container {
  height: 600px;
  text-align: center;
  padding-top: 80px;
}

.home_page .teacherIntro_container > h3 {
  font-size: 22px;
  color: #28313B;
}

.home_page .join {
  height: 500px;
  text-align: center;
  padding-top: 60px;
  background-color: #17D377 !important;
  overflow: hidden;
}

.home_page .join > h3 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 30px;
}

.home_page .join > .card {
  display: inline-block;
  padding: 35px 0;
  width: 480px;
  border-radius: 7px;
  background-color: #fff;
}

.home_page .join > .card .price,
.home_page .join > .card .loading_price {
  font-size: 20px;
  color: #28313B;
  margin-bottom: 30px;
}

.home_page .join > .card .loading_price {
  color: #6C7C8B;
  margin-bottom: 50px;
}

.home_page .join > .card .desc {
  text-align: left;
  margin-left: 75px;
}

.home_page .join > .card .desc .item > span {
  line-height: 40px;
  margin-right: 15px;
  font-size: 18px;
  color: #17D377;
}

.home_page .join > .card .desc .item > p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  line-height: 40px;
}

.home_page .join > .card .desc .item > p > span {
  font-weight: bold;
  margin-right: 15px;
}

.home_page .join > .card .buy {
  margin-top: 20px;
  color: #2ECC71;
  border-color: #3AD59C;
}

.home_page .join .boys_and_girls {
  position: relative;
  width: 100%;
  height: 70px;
}

.home_page .join .boys_and_girls .group_A,
.home_page .join .boys_and_girls .group_B {
  margin-top: -58px;
  width: 45%;
}

.home_page .join .boys_and_girls .group_A > span,
.home_page .join .boys_and_girls .group_B > span {
  font-size: 130px;
}

.home_page .join .boys_and_girls .group_A {
  float: left;
  text-align: left;
}

.home_page .join .boys_and_girls .group_A > span {
  margin-right: 13%;
}

.home_page .join .boys_and_girls .group_B {
  float: right;
  text-align: right;
}

.home_page .join .boys_and_girls .group_B > span {
  margin-left: 13%;
}

.home_page section:nth-child(2n-1) {
  background-color: #F9FCFD;
}

.home_page section:nth-child(2n) {
  background-color: #ffffff;
}

// video
.video_banner {}
.video_banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video_banner .mash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.1;
}
.video_banner > .dynamic > video {
  width: 100%;
}
.video_banner > .dynamic .title {
  position: absolute;
  z-index: 9;
  top: 35%;
  left: 15%;
  color: #2C3E50;
  transition: all 0.5s ease-in-out;
}
.video_banner > .dynamic .title .title_1,
.video_banner > .dynamic .title .title_2 {
  font-size: 22px;
  transition: all 0.3s ease-in-out;
}
.video_banner > .dynamic .title .icon-dash {
  color: #000;
  position: absolute;
  left: -2px;
  top: -13px;
  font-size: 50px;
}
.video_banner > .dynamic .title .correct {
  animation: scale 2.1s linear;
  position: absolute;
  top: -6px;
  right: -65px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Hanzipen SC', FZShuTi;
  transition: all .5s linear;
}
@keyframes scale {
  0% {
    transform: scale(4);
  }
  20% {
    transform: scale(1);
  }
}
.video_banner > .dynamic .center {
  top: 40%;
  left: 50% !important;
  margin-left: -60px;
}
.video_banner > .dynamic .center .title_1,
.video_banner > .dynamic .center .title_2 {
  font-size: 26px;
  margin-right: 25px;
}
.video_banner > .dynamic .center .icon-dash {
  left: -5px;
  top: -16px;
  font-size: 60px;
}
.video_banner > .dynamic .center .correct {
  right: -10px;
  top: 0;
  font-size: 26px;
}
.video_banner > .dynamic .content {
  position: absolute;
  z-index: 9;
  top: 44%;
  left: 15%;
  color: #2C3E50;
  width: 320px;
  font-size: 18px;
  font-family: 'Hanzipen SC', FZShuTi;
  line-height: 40px;
}
.video_banner > .dynamic .show {
  opacity: 1 !important;
}
@media screen and (min-width: 1440px) {
  .video_banner > .dynamic .title,
  .video_banner > .dynamic .content {
    left: 22%;
  }
}
.video_banner > .static img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 1s linear;
}
.video_banner > .static .active {
  opacity: 1;
}

