<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
  <meta name="referrer" content="always">
  <title>页面未找到</title>
  <link rel="icon" type="image/png" href="//o4a7cbihz.qnssl.com/picture/b23784eb-f1e4-44ea-811b-af333e4978bc" sizes="32x32">
  <link rel="stylesheet" href="/public/stylesheets/reset.css">
  <link rel="stylesheet" href="/public/stylesheets/common.css">
  <style>
    .no_found {
      margin-top: 25vh;
      text-align: center;
    }

    .no_found > img {
      height: 125px;
    }

    .no_found > .error {
      margin: 40px auto;
    }

    .no_found > .error > .title {
      margin: 10px 0;
      font-size: 20px;
      color: #444B54;
    }

    .no_found > .error > .desc {
      margin: 10px 0;
      font-size: 12px;
      color: #8494a7;
    }

    .no_found > .back {
      background-color: #2ECC71;
    }
  </style>
</head>
<body>
  <div class="no_found">
    <img src="//o4a7cbihz.qnssl.com/picture/95e10cbb-4368-4285-9237-68b2b8108005" alt="新生大学网">
    <div class="error">
      <p class="title">抱歉，这个页面打不开了</p>
      <p class="desc">错误原因：请检查您输入的网址是否正确</p>
    </div>
    <a href="/" class="back btn_solid">返回新生大学</a>
  </div>
</body>
</html>
